import os
from apscheduler.jobstores.redis import RedisJobStore

class Config:
    ADMIN_LOGIN = 'admin'
    ADMIN_PASS = 'admin'
    DOMAIN_URL = 'http://domain.com'
    DATABASE_URI='mysql://username:password@server/db'

    SECRET_KEY = ''
    # link to mysql
    SQLALCHEMY_DATABASE_URI = DATABASE_URI

    # offical tell me to set to true
    SQLALCHEMY_TRACK_MODIFICATIONS = True

    # enabling chinese char
    RESTFUL_JSON = dict(ensure_ascii=False)

    # about upload
    UPLOAD_FOLDER = 'upload/'
    DOWNLOAD_FOLDER = 'download/'
    ALLOWED_EXTENSIONS = set(
        ['txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif', 'psd', 'bmp','tif', 'tiff', 'tga', 'sai2'])
    MAX_CONTENT_LENGTH = 10 * 1024 * 1024
    THUMBNAIL_SIZE=[1024, 512, 256]
    
    # RequestParser error https://flask-restplus.readthedocs.io/en/stable/parsing.html
    BUNDLE_ERRORS = True
    # disable fields mask https://flask-restplus.readthedocs.io/en/stable/mask.html
    RESTPLUS_MASK_SWAGGER = False
    # validation fields or args https://flask-restplus.readthedocs.io/en/stable/swagger.html
    RESTPLUS_VALIDATE = True

    # wechat 
    WECHAT_GZ_APPID = ''
    WECHAT_GZ_APPSECRET = ''

    WECHAT_KF_APPID = ''
    WECHAT_KF_APPSECRET = ''

    # CORS_HEADER = 'Content-Type, auth'
    CORS_RESOURCES = {r"/*": {"origins": ["http://domain.com","http://domain.com"]}}
    CORS_METHODS = "GET,POST,OPTIONS"
    CORS_SUPPORTS_CREDENTIALS = True

    # APScheduler
    SCHEDULER_JOBSTORES = {
        'default': RedisJobStore()
    }

    #celery
    CELERY_BROKER_URL = 'redis://localhost:6379/0'
    CELERY_RESULT_BACKEND = 'redis://localhost:6379/0'
    CELERYD_MAX_TASKS_PER_CHILD =1
    
    PERMISSIONS = {
        'ADMIN': 1,
        'WRITE': 2,
        'EDIT': 4,
        'UPLOAD': 8
    }

    ROLE_PRESSENT = {
        'ROLES': {
            'Admin': [PERMISSIONS['WRITE'], PERMISSIONS['EDIT'], PERMISSIONS['UPLOAD'], PERMISSIONS['ADMIN']],
            'Editor': [PERMISSIONS['WRITE'], PERMISSIONS['UPLOAD'], PERMISSIONS['EDIT']],
            'Visitor': [PERMISSIONS['WRITE'], PERMISSIONS['UPLOAD']],
        },
        'DEFAULT': 'Visitor'
    }

    #LIVEr
    LIVE_PUSH_HOST = ""
    LIVE_PULL_HOST = ""
    LIVE_APP_NAME = ''
    PUSH_KEY = ''
    PULL_KEY = ''

    #aliyun
    ALIYUN_KEY = ''
    ALIYUN_SECRET = ''

class DevelopmentConfig(Config):
    pass


class TestingConfig(Config):
    pass


class ProductionConfig(Config):
    pass


config = {
    'development': DevelopmentConfig,
    'testing': TestingConfig,
    'production': ProductionConfig,
}
