import os
from apscheduler.jobstores.sqlalchemy import SQLAlchemyJobStore

class Config:
    DOMAIN_URL = 'http://domain.com'
    DATABASE_URI='mysql://username:password@server/db'

    SECRET_KEY = ''
    # link to mysql
    SQLALCHEMY_DATABASE_URI = DATABASE_URI

    # offical tell me to set to true
    SQLALCHEMY_TRACK_MODIFICATIONS = True

    # enabling chinese char
    RESTFUL_JSON = dict(ensure_ascii=False)

    # about upload
    UPLOAD_FOLDER = 'upload/'
    DOWNLOAD_FOLDER = 'download/'
    ALLOWED_EXTENSIONS = set(
        ['txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif', 'psd', 'bmp','tif', 'tiff', 'tga', 'sai2'])
    MAX_CONTENT_LENGTH = 10 * 1024 * 1024
    THUMBNAIL_SIZE=[1024, 512, 256]
    
    # RequestParser error https://flask-restplus.readthedocs.io/en/stable/parsing.html
    BUNDLE_ERRORS = True
    # disable fields mask https://flask-restplus.readthedocs.io/en/stable/mask.html
    RESTPLUS_MASK_SWAGGER = False
    # validation fields or args https://flask-restplus.readthedocs.io/en/stable/swagger.html
    RESTPLUS_VALIDATE = True

    # wechat 
    WECHAT_GZ_APPID = ''
    WECHAT_GZ_APPSECRET = ''

    WECHAT_KF_APPID = ''
    WECHAT_KF_APPSECRET = ''

    # CORS_HEADER = 'Content-Type, auth'
    CORS_RESOURCES = {r"/*": {"origins": ["http://domain.com","http://domain.com"]}}
    CORS_METHODS = "GET,POST,OPTIONS"
    CORS_SUPPORTS_CREDENTIALS = True

    # APScheduler
    SCHEDULER_JOBSTORES = {
        'default': SQLAlchemyJobStore(url = DATABASE_URI)
    }
    SCHEDULER_API_ENABLED = True

class DevelopmentConfig(Config):
    pass


class TestingConfig(Config):
    pass


class ProductionConfig(Config):
    pass


config = {
    'development': DevelopmentConfig,
    'testing': TestingConfig,
    'production': ProductionConfig,
}
